<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <title>Издательства</title>
</head>
<body>
    <h1 class="d-flex justify-content-center">{{ title }}</h1>
    {% for pub_house in publishinghouses %}
        <ul class="list-group">
            <li class="list-group-item">
                <h3 class="d-flex justify-content-center">{{ pub_house.name }}</h3>
                <ul class="list-group">
                    {% for book in pub_house.books.all %}
                        <li class="list-group-item">
                            <p>Автор: {{ book.author.full_name }} - "Книга: {{ book.title }}"</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</body>
</html>
